.container {
  display: grid;
  margin: 10px;
}

#addMessage {
  background-color: var(--vscode-input-background);
  color: var(--vscode-input-foreground);
  margin: 10px 0px;
  border: 1px solid var(--vscode-input-border);
  border-radius: .5rem;
  padding: .625rem;
}

#addMessage:focus {
  outline: 1px solid var(--vscode-inputOption-activeBorder);
}

#btn-addMessage, #btn-addAPIkey {
  color: var(--vscode-button-foreground);
  background-color: var(--vscode-button-background);
  margin: 10px 0px;
  border: none;
  padding: .625rem 1.25rem;
  border-radius: .5rem;
  font-size: .875rem;
  cursor: pointer;
}

#btn-addMessage:hover, #btn-addAPIkey:hover {
  background-color: var(--vscode-button-hoverBackground);
}

a {
  text-decoration: none;
  margin-bottom: 10px;
}

.disclaimer {
  margin-bottom: 20px;
}
