.container {
  display: grid;
  margin: 10px;
}

#addMessage {
  background-color: #333;
  color: white;
  margin: 10px 0px;
  border: none;
  border-radius: .5rem;
  padding: .625rem;
}

#addMessage:focus {
  outline: 1px solid #0d6efd;
}

#btn-addMessage, #btn-addAPIkey {
  color: white;
  background-color: #0d6efd;
  margin: 10px 0px;
  border: none;
  padding: .625rem 1.25rem;
  border-radius: .5rem;
  font-size: .875rem;
  cursor: pointer;
}

#btn-addMessage:hover {
  background-color: #0b5ed7;
}

a {
  text-decoration: none;
  margin-bottom: 10px;
}

.disclaimer {
  margin-bottom: 20px;
}
